*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    width: auto;
}

body, header, video {
    width: 100%;
    height: 100%;
}

#titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0,2);
}

#titulo-nav {
    z-index: 9;
    position: absolute;
    color:white;
    font-size: 14px;
    margin: 10px;
}

#contenedor-nav {
    width: auto;
    display: inline-flex;
    position: absolute;
    justify-content: flex-end;
    right: 45px;
    z-index: 9;
    border-bottom: 3px solid#2c3e50;
}

#contenedor-nav:hover {
    border-bottom: none;
}

.nav {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin: 15px;
    margin-top: 30px;
    margin-right: 30px;
    text-decoration: none;
    transition:400ms;
}

.nav:hover {
    transition:300ms;
    background:#2c3e50;
    color:white;
    font-size:25px;
    text-decoration: none;

}

#cerrar-sesion {
    color: white;
    font-size: 15px;
    margin-left: 15px;
    font-weight: 800;
}


#cerrar-sesion:hover {
    transition:300ms;
    background:#2c3e50;
    font-size: 18px;
    margin-left: 7.5px;
    text-decoration: none;
}

#titulo-header {
    position: absolute;
    margin-top: 15%;
    margin-left: 23%;
    font-size: 70px;
    font: 700;
    background: rgba(189,195,199,0.02);
    color: rgb(203 228 234);

}

section {
    height: 100%;
    width: auto;
}

#contenedor-par {
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
}

#section-par {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
}

.modall {
    display: flex;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  #myBtn {
      display: flex;
      color:white;
      text-decoration: none;
      margin:10px;
      border:none;
      background: none;
      font-size:20px;
      cursor: pointer;
      transition:  0.4s;
      font-weight: 800;
      border-bottom: 3px solid #2c3e50;
  }

  #myBtn:hover {
    background:#2c3e50;
    font-size:22px;
    transition:  0.4s;
  }
  
  #modal-contenido {
    display: flex;
    flex-wrap: wrap;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    height: 35%;
    box-shadow: 0 0 20px 1px rgb(0 0 0);
    z-index: -99;
  }
  
  #contenedor-sesion {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .sesion-label {
      margin:10px;
      margin-bottom: 0;
      font-weight: 700;
      width: 20%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #contenedor-fotos {
    background: rgba(253, 136, 3, 0.3);
    margin: 0;
  }

  #contenedor-fotos ul {
    display: flex;
    position: relative;
    margin-left: 35%;
    z-index:999;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #ffff;
    text-transform: capitalize;
    box-shadow: 0 0 20px 1px rgb(175, 210, 218);
    background: rgba(253, 136, 3, 0.5);
}

#contenedor-fotos img {
    width: 100%;
    height: auto;
    z-index: 9;
}

#contenedor-fotos img:hover {
    transform: scale(1.5);
    transition: all ease 1.5;
    cursor: pointer;
    z-index: 99;
}

#contenedor-fotos ul li:hover , .activo {
    background: #fff;
    color:#2c3e50;
    cursor: pointer;
}

#contenedor-fotos .fotos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contenedor-fotos .caja {  
    width: 32%;
    height: auto;
    margin-bottom: 20px;
}
#contenedor-fotos .caja img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}

#section-par h1, p {
    color:black;
}
#par1 h1, #par2 h1{
    color: rgba(253, 136, 3, 1);
}

#par1, #par2 {
    margin:10px;
    margin-top: 5%;
    padding: 5px;
    width: 35%;
    background: rgba(255,255, 255, 0.7);
    box-shadow: 0 0 20px 1px rgb(0 0 0);
}

#section-formulario {
    display: flex;
    position: relative;
    }

#envio {
    margin-top: 20px;
}

.imagen {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -9;
}

#contenedor-formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    margin: 20px;
    margin-left: 50px;
}

#poke {
    position: absolute;
    margin-left: 68%;
}

#contenedor-poke {
    display: flex;
    flex-direction: column;
    width: 44%;
    height: 22%;
    margin-left: 55%;
    margin-top: 23%;
    position: absolute;
    background: #e9ecef;
    box-shadow: 0 0 20px 1px rgb(0 0 0);
}


#poke h1 {
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    margin-left: 40px;
    text-transform: uppercase;
}

#pokemon {
    width: 100%;
    height: auto;
}

#formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 40%;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgb(0 0 0);
    z-index: 999;
    background: #e9ecef
}

.formulario-label, .formulario-input, .formulario-submit{
        margin: 10px;
}

.formulario-label{
    font-family: 'IBM Plex Mono', monospace;
    position: absolute;
    margin-top: 17px;
    margin-left: -408px;
    z-index: -20;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;
}

.formulario-input {
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.3);
    /* /background: transparent; SE SERIA BIEN BASICO SIN COLOR */
    background: rgba(82, 69, 67, 0.4);
    border-radius: 5px;
    width: 400px;
}

.formulario-submit {
    display: block;
    background:rgba(253, 136, 3, 0.7);
    color: white;
    border:none;
    cursor: pointer;
    height: 40px;
    width: 70px;
    font-family: 'IBM Plex Mono', monospace;
}

.formulario-submit:hover {
    background:rgba(212, 177, 136, 0.7);
}
.formulario-input:focus {
    outline: 1px solid rgba(0,0,0,0.7);
    padding: 10px;
    margin-top: 20px;
}

.formulario-input:focus + .formulario-label{ 
    color:rgb(209, 61, 3);
    margin-top: -5px;
    font-size: 17px;
    transition: all 0.2s;
}

.fijar {
    color: rgb(209, 61, 3);
    margin-top: -12px;
    font-size: 17px;
}

#footer {
    height: 80px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    justify-content: center;
    background: rgba(253, 136, 3, 0.7)}

.redes {
    text-decoration: none;
    margin:25px;
    color:white;
}