*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    width: auto;
}

body, header, video {
    width: 100%;
    height: auto;
}

#titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0,2);
}

#titulo-nav {
    z-index: 9;
    position: absolute;
    color:white;
    font-size: 13px;
}

#contenedor-nav {
    width: auto;
    display: inline-flex;
    position: absolute;
    justify-content: flex-end;
    right: 45px;
    z-index: 9;
    border-bottom: 3px solid#2c3e50;
}

#contenedor-nav:hover {
    border-bottom: none;
}

.nav {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin: 15px;
    margin-top: 30px;
    margin-right: 30px;
    text-decoration: none;
}

.nav:hover {
    transition:300ms;
    background:#2c3e50;
    color:white;
    font-size:25px;
    text-decoration: none;

}

#titulo-header {
    position: absolute;
    margin-top: 15%;
    margin-left: 23%;
    font-size: 70px;
    font: 700;
    background: rgba(189,195,199,0.02);
    color: rgb(203 228 234);

}

#contenedor-par {
    width: 35%;
    z-index: 999;
}

#imagen {
    width: 100%;
    height: auto;
    position: absolute;
}

#section-par {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
}


#section-par h1, p {
    color:black;
}
#par1 h1, #par2 h1{
    color: rgba(253, 136, 3, 1);
}

#par1, #par2 {
    margin: 35px;
    padding: 30px;
    /* background: #e9ecef; */
    background: rgba(255,255, 255, 0.7);
    box-shadow: 0 0 20px 1px rgb(0 0 0);
    margin-top:100px;
}

#section-formulario {
    display: flex;
    position: relative;
    margin-top:3.8%;
}

#envio {
    margin-top: 20px;
}

#section-formulario img {
    width: 100%;
    z-index: -9;
}

#contenedor-formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    margin: 20px;
    margin-left: 50px;
}

#poke {
    position: absolute;
    margin-left: 68%;
}

#contenedor-poke {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 22%;
    margin-left: 55%;
    margin-top: 23%;
    position: absolute;
    background: #e9ecef;
    box-shadow: 0 0 20px 1px rgb(0 0 0);
}


#poke h1 {
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    margin-left: 40px;
    text-transform: uppercase;
}

#formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 40%;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgb(0 0 0);
    z-index: 999;
    background: #e9ecef
}

.formulario-label, .formulario-input, .formulario-submit{
        margin: 10px;
}

.formulario-label{
    font-family: 'IBM Plex Mono', monospace;
    position: absolute;
    margin-top: 17px;
    margin-left: -408px;
    z-index: -20;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;
}

.formulario-input {
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.3);
    /* /background: transparent; SE SERIA BIEN BASICO SIN COLOR */
    background: rgba(82, 69, 67, 0.4);
    border-radius: 5px;
    width: 400px;
}

.formulario-submit {
    display: block;
    background:rgba(253, 136, 3, 0.7);
    color: white;
    border:none;
    cursor: pointer;
    height: 40px;
    width: 65px;
    font-family: 'IBM Plex Mono', monospace;
}

.formulario-submit:hover {
    background:rgba(212, 177, 136, 0.7);
}
.formulario-input:focus {
    outline: 1px solid rgba(0,0,0,0.7);
    padding: 10px;
    margin-top: 20px;
    /* transition: all 0.2s; */

}

.formulario-input:focus + .formulario-label{ 
    color:rgb(209, 61, 3);
    margin-top: -5px;
    font-size: 17px;
    transition: all 0.2s;
}

.fijar {
    color: rgb(209, 61, 3);
    margin-top: -12px;
    font-size: 17px;
}

#footer {
    height: 80px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    justify-content: center;
    background: rgba(253, 136, 3, 0.7)}

.redes {
    text-decoration: none;
    margin:25px;
    color:white;
}